version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: weare_postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: weare_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:alpine
    container_name: weare_redis
    ports:
      - "6379:6379"
    restart: always

volumes:
  postgres_data:
